.featuresBox {
    color: var(--main-purple);
    border-color: var(--main-purple);
    border-style: solid; /* Add a border style to make the border visible */
    border-width: 1px; /* Define the border width */
    border-radius: 5px; /* Define the border radius */
}

.counter {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    max-width: 100%;
    width: 50%;
    transform: translate(25%, -35%);
}
  

.price {
    font-size: 2.0rem;
}

.currency {
    font-size: 1.2rem;
}

.noWrap {
    white-space: nowrap !important;
}
  
  