.buttonQuantity{
    min-width: 30px;
}

.imageTable{
    width: 80px;
    height: 80px;
}

.tableWrapper{
    max-height: 1300px !important;
    overflow-y: auto !important;
}


.customFileInput .customFileUpload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.customFileUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.customFileUpload:hover {
    background-color: #b9b9b9;
    border-color: #b9b9b9;
    color: white;
}

.tableBody{
    font-size: 14px;
}



  