.buttonIncr {
    width: 40px;
}

.imageCard{
    min-width: 160px;
    max-width: 250px;
}

/*------------------------------------1600px----------------------------------------------*/ 
@media screen and (max-width: 1600px) {

}
/*-----------------------------------1400px-xxl------------------------------------------*/ 
@media screen and (max-width: 1400px) {
    .buttonIncr {
        width: 35px;
    }
}
/*-----------------------------------1200px-xl-------------------------------------------*/ 
@media screen and (max-width: 1200px) {
    .buttonIncr {
        width: 30px;
    }

}
/*------------------------------------992px-lg-------------------------------------------*/ 
@media screen and (max-width: 992px) {
    .buttonIncr {
        width: 30px;
    }
}
/*------------------------------------768px-md-------------------------------------------*/
@media screen and (max-width: 768px) {
    .buttonIncr {
        width: 30px;
    }
}
/*------------------------------------576px-sm-------------------------------------------*/
@media screen and (max-width: 576px) {

}